In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (2.2.0)

In [2]:
!pip install vecstack
!pip install mlxtend

Requirement already satisfied: vecstack in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (0.4.0)
Requirement already satisfied: scipy in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from vecstack) (1.7.3)
Requirement already satisfied: numpy in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from vecstack) (1.21.5)
Requirement already satisfied: scikit-learn>=0.18 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from vecstack) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.18->vecstack) (2.2.0)
Requirement already satisfied: joblib>=0.11 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.18->vecstack) (1.1.0)
Requirement already satisfied: mlxtend in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (0.21.0)
Requirement already satisfied: numpy>=1.16.2 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: joblib>=0.13.2 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: scipy>=1.2.1 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.24.2 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: setuptools in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (61.2.0)
Requirement already satisfied: packaging>=20.0 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: cycler>=0.10 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pytz>=2020.1 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)

In [3]:
from vecstack import stacking
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score #works
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from imblearn.over_sampling import SMOTE 
from sklearn.svm import SVC
from collections import Counter #for Smote, 

# Import libraries for feature selection
from sklearn.feature_selection import SelectFromModel
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2, f_classif

# from mlxtend.feature_selection import SequentialFeatureSelector as SFS
import joblib
import sys
sys.modules['sklearn.externals.joblib'] = joblib

from mlxtend.feature_selection import SequentialFeatureSelector as SFS

import warnings
warnings.filterwarnings("ignore")

In [4]:
# Read data files_Train, Test
train = pd.read_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 4/Santander_train.csv')
display(train)

test = pd.read_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 4/Santander_test.csv')
display(test)

print(train.shape)
print(test.shape)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,151829,2,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000,0
76016,151830,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000,0
76017,151835,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000,0
76018,151836,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000,0
76019,151838,2,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.100000
1,5,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.720000
2,6,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.950000
3,7,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.610000
4,9,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.730000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75813,151831,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40243.200000
75814,151832,2,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,146961.300000
75815,151833,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,167299.770000
75816,151834,2,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
75817,151837,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

(76020, 371)
(75818, 370)

# 1. Preprocessing

In [5]:
# Check number of null values
train.isna().sum()

ID                         0
var3                       0
var15                      0
imp_ent_var16_ult1         0
imp_op_var39_comer_ult1    0
                          ..
saldo_medio_var44_hace3    0
saldo_medio_var44_ult1     0
saldo_medio_var44_ult3     0
var38                      0
TARGET                     0
Length: 371, dtype: int64

In [6]:
# Check basic statistics of a data se, colimn wise
train.info()
train.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76020 entries, 0 to 76019
Columns: 371 entries, ID to TARGET
dtypes: float64(111), int64(260)
memory usage: 215.2 MB

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,75964.050723,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,43781.947379,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,1.000000,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
25%,38104.750000,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04,0.000000
50%,76043.000000,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
75%,113748.750000,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05,0.000000
max,151838.000000,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

In [7]:
# Min of 'Var3' indicate -999999, it seems to be null value based on 25, 50, 75% range
train['var3'].value_counts(ascending=False).head(5)

# Replace -999999 to 2
# Drop the column ID
train['var3'].replace(-999999,2,inplace=True)

In [8]:
# Separate Train data and test data

X_train = train
X_test = test.reindex(columns=test.columns.tolist()+["TARGET"])

print(X_train.shape)
print(X_test.shape)

y_train = X_train["TARGET"]
y_test = X_test["TARGET"]

X_train = X_train.drop('TARGET', axis=1)
X_test = X_test.drop('TARGET', axis=1)

print(X_train.shape)
print(X_test.shape)

print(y_train.shape)
print(y_test.shape)

(76020, 371)
(75818, 371)
(76020, 370)
(75818, 370)
(76020,)
(75818,)

# 2. SMOTE (0.5)

In [9]:
print("___________________________________________________________________\nSMOTE\n")
print('Original dataset shape %s' % Counter(y_train))
sm = SMOTE(sampling_strategy =0.5, random_state=42)
X_train, y_train = sm.fit_resample(X_train, y_train)
print('Resampled dataset shape %s' % Counter(y_train))

___________________________________________________________________
SMOTE

Original dataset shape Counter({0: 73012, 1: 3008})
Resampled dataset shape Counter({0: 73012, 1: 36506})

# 3. GENETIC ALGORITHMS

In [10]:
!pip install sklearn-genetic

Requirement already satisfied: sklearn-genetic in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (0.5.1)
Requirement already satisfied: scikit-learn>=0.23 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from sklearn-genetic) (1.0.2)
Requirement already satisfied: multiprocess in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from sklearn-genetic) (0.70.14)
Requirement already satisfied: deap>=1.0.2 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from sklearn-genetic) (1.3.3)
Requirement already satisfied: numpy in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from sklearn-genetic) (1.21.5)
Requirement already satisfied: joblib>=0.11 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.23->sklearn-genetic) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.23->sklearn-genetic) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.23->sklearn-genetic) (2.2.0)
Requirement already satisfied: dill>=0.3.6 in /Users/jiwonmoon/opt/anaconda3/lib/python3.9/site-packages (from multiprocess->sklearn-genetic) (0.3.6)

In [11]:
# Genetic Algorithm for Feature Selection 
from genetic_selection import GeneticSelectionCV

x = X_train.iloc[:,:-1].values
y = y_train.iloc[:].values

dtc = DecisionTreeClassifier()
model = GeneticSelectionCV(dtc, cv=5, verbose=0,
    scoring="accuracy", max_features=10,
    n_population=100, crossover_proba=0.5,
    mutation_proba=0.2, n_generations=100,
    crossover_independent_proba=0.5,
    mutation_independent_proba=0.04,
    tournament_size=3, n_gen_no_change=10,
    caching=True, n_jobs=-1)

model = model.fit(x, y)

In [12]:
print(x)
print(y)

[[1.00000e+00 2.00000e+00 2.30000e+01 ... 0.00000e+00 0.00000e+00
  0.00000e+00]
 [3.00000e+00 2.00000e+00 3.40000e+01 ... 0.00000e+00 0.00000e+00
  0.00000e+00]
 [4.00000e+00 2.00000e+00 2.30000e+01 ... 0.00000e+00 0.00000e+00
  0.00000e+00]
 ...
 [7.09210e+04 2.00000e+00 3.50000e+01 ... 0.00000e+00 0.00000e+00
  0.00000e+00]
 [7.78780e+04 2.00000e+00 5.70000e+01 ... 0.00000e+00 0.00000e+00
  0.00000e+00]
 [1.14385e+05 2.00000e+00 2.50000e+01 ... 0.00000e+00 0.00000e+00
  0.00000e+00]]
[0 0 0 ... 1 1 1]

In [13]:
# Get column names
print(model.get_support())

cols = model.get_support(indices=True)
print("\n cols = ", cols, "\n")

features_new_GA = X_train.iloc[:,cols]
print(features_new_GA.shape)
print("\n features_new_GA= ", features_new_GA)

# save file
export_csv= features_new_GA.to_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 4/features_new_GA.csv',
                    header=True, index=False)

[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False  True False False False False False False False
 False False False False False False False False False False False False
 False False False False False False  True False False False False False
 False False False False False False False False False False False False
  True False False False False False False False False False False False
 False False False False False False False False False False False  True
 False False False False False False False False False False False False
 False False False False  True False False False  True False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False  True False False False False False False False False False
 False False  True False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False  True False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False]

 cols =  [ 64  90 108 131 148 152 194 206 286]

(109518, 9)

 features_new_GA=          ind_var30  num_var5_0  num_var17_0  num_op_var39_ult3  num_var35  \
0               0           3            0                  0          0
1               1           3            0                  0          3
2               1           3            0                  0          3
3               1           3            0                  9          9
4               1           3            0                  0          3
...           ...         ...          ...                ...        ...
109513          0           1            0                  1          1
109514          0           3            0                  0          0
109515          0           3            0                  0          0
109516          0           3            0                  0          0
109517          0           3            0                  0          0

        num_var39_0  var36  delta_imp_trasp_var33_in_1y3  \
0                 3     99                             0
1                 3      3                             0
2                 3     99                             0
3                 3      2                             0
4                 3      1                             0
...             ...    ...                           ...
109513            3     99                             0
109514            3     99                             0
109515            0     69                             0
109516            3     99                             0
109517            2     99                             0

        num_meses_var13_medio_ult3
0                                0
1                                0
2                                0
3                                0
4                                0
...                            ...
109513                           0
109514                           0
109515                           0
109516                           0
109517                           0

[109518 rows x 9 columns]

# 4. TOP25 Features

In [14]:
# K-BEST FEATURE Selection
select = SelectKBest(f_classif, k=25)

select.fit(X_train, y_train)
feature_index = select.get_support(True)
print("feature index =", feature_index)

feature index = [  2  24  25  30  64  74  76  77  80  89  91 139 148 152 155 159 194 255
 256 257 258 259 260 281 290]

In [15]:
top_25 = select.fit_transform(X_train, y_train)
print(top_25.shape)

top_25_SelectedFeatures = pd.DataFrame(top_25)
print(top_25_SelectedFeatures)

(109518, 25)
          0    1    2    3    4    5    6    7    8    9   ...   15    16  \
0       23.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  ...  0.0  99.0
1       34.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  1.0  ...  0.0   3.0
2       23.0  1.0  1.0  0.0  1.0  0.0  0.0  1.0  1.0  1.0  ...  3.0  99.0
3       37.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  3.0  ...  3.0   2.0
4       39.0  1.0  0.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0  ...  3.0   1.0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
109513  41.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  ...  0.0  99.0
109514  42.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  ...  0.0  99.0
109515  35.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  69.0
109516  57.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  ...  0.0  99.0
109517  25.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  99.0

         17   18   19   20   21   22   23   24
0       0.0  0.0  0.0  0.0  0.0  0.0  0.0  2.0
1       0.0  0.0  0.0  0.0  0.0  0.0  1.0  2.0
2       0.0  0.0  0.0  0.0  0.0  0.0  3.0  1.0
3       1.0  1.0  1.0  1.0  0.0  0.0  2.0  1.0
4       0.0  0.0  0.0  0.0  1.0  1.0  3.0  2.0
...     ...  ...  ...  ...  ...  ...  ...  ...
109513  0.0  0.0  0.0  0.0  0.0  0.0  0.0  2.0
109514  0.0  0.0  0.0  0.0  0.0  0.0  0.0  2.0
109515  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
109516  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
109517  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

[109518 rows x 25 columns]

In [16]:
# Apply feature selection to test data also

top_25_test = select.transform(X_test)
print(top_25_test.shape)

top_25_test_SelectedFeatures= pd.DataFrame(top_25_test)
print(top_25_test_SelectedFeatures)

(75818, 25)
         0    1    2    3    4    5    6    7    8    9   ...   15    16   17  \
0      32.0  1.0  1.0  0.0  1.0  0.0  0.0  1.0  1.0  1.0  ...  3.0   3.0  0.0
1      35.0  1.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  ...  3.0   3.0  0.0
2      23.0  1.0  1.0  0.0  1.0  0.0  0.0  1.0  1.0  2.0  ...  3.0   3.0  0.0
3      24.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  ...  0.0  99.0  0.0
4      23.0  1.0  1.0  0.0  1.0  0.0  0.0  1.0  1.0  1.0  ...  3.0   3.0  0.0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...  ...
75813  23.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  ...  0.0  99.0  0.0
75814  26.0  1.0  1.0  0.0  1.0  0.0  0.0  1.0  1.0  1.0  ...  3.0   3.0  0.0
75815  24.0  1.0  1.0  0.0  1.0  0.0  0.0  1.0  1.0  1.0  ...  3.0  99.0  0.0
75816  40.0  1.0  1.0  0.0  1.0  0.0  0.0  1.0  1.0  1.0  ...  3.0   3.0  0.0
75817  23.0  1.0  1.0  0.0  1.0  0.0  0.0  1.0  1.0  1.0  ...  3.0   3.0  0.0

        18   19   20   21   22   23   24
0      0.0  0.0  0.0  0.0  0.0  3.0  2.0
1      0.0  0.0  0.0  0.0  0.0  3.0  0.0
2      0.0  0.0  0.0  0.0  0.0  3.0  2.0
3      0.0  0.0  0.0  0.0  0.0  0.0  2.0
4      0.0  0.0  0.0  0.0  0.0  3.0  2.0
...    ...  ...  ...  ...  ...  ...  ...
75813  0.0  0.0  0.0  0.0  0.0  0.0  2.0
75814  0.0  0.0  0.0  0.0  0.0  3.0  2.0
75815  0.0  0.0  0.0  0.0  0.0  3.0  2.0
75816  0.0  0.0  0.0  0.0  0.0  3.0  2.0
75817  0.0  0.0  0.0  0.0  0.0  3.0  2.0

[75818 rows x 25 columns]

## 4-1. Random Forest

### 4-1-1. Random Forest - No Tuning

In [17]:
# Top25 Features RandomForest and Obtain Respective Accuracy
rfc1 = RandomForestClassifier()
rfc1.fit(top_25, y_train)
rfc1_predict = rfc1.predict(top_25_test)

In [18]:
rfc1_pred = pd.DataFrame({"ID":test ["ID"], "TARGET": rfc1_predict})
rfc1_pred.to_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 4/rfc1_pred.csv',
                    header=True, index=False)

### 4-1-2. Random Forest - Hyperparameter Tuning

In [19]:
# Top25 Features RandomForest with Hyperparameter Tuning
parameters={'min_samples_split' : range(10,100,10),'max_depth': range(1,20,2)}
rfc_random = RandomizedSearchCV(rfc1, parameters, n_iter=15)
rfc_random.fit(top_25, y_train)
grid_parm_rfc=rfc_random.best_params_
print(grid_parm_rfc)

rfc2 = RandomForestClassifier(**grid_parm_rfc)
rfc2.fit(top_25,y_train)
rfc2_predict = rfc2.predict(top_25_test)

rfc2_cv_score = cross_val_score(rfc2, top_25, y_train, cv=10, scoring="roc_auc")
print("=== All AUC Scores ===")
print(rfc2_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Random Forest: ", rfc2_cv_score.mean())

{'min_samples_split': 40, 'max_depth': 17}
=== All AUC Scores ===
[0.82681521 0.96705675 0.97095688 0.97151981 0.96899857 0.96953541
 0.97352653 0.97176627 0.96944254 0.96769596]


=== Mean AUC Score ===
Mean AUC Score - Random Forest:  0.955731393619106

In [20]:
rfc2_pred = pd.DataFrame({"ID":test ["ID"], "TARGET": rfc2_predict})
rfc2_pred.to_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 4/rfc2_pred.csv',
                    header=True, index=False)

## 4-2. Gradient Boosting

### 4-2-1. Gradient Boosting - No Tuning

In [21]:
# Top25 Features GradientBoosting and Obtain Respective Accuracy
search_grid = {'n_estimators':[5,10,20],'learning_rate':[0.01,.1]}
grd1 = GradientBoostingClassifier()
grd1.fit(top_25, y_train)
grd1_predict = grd1.predict(top_25_test)

grd1_cv_score = cross_val_score(grd1, top_25, y_train, cv=10, scoring="roc_auc")
print("=== All AUC Scores ===")
print(grd1_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Boosting: ", grd1_cv_score.mean())

=== All AUC Scores ===
[0.81904218 0.96226172 0.96525322 0.96474299 0.96205815 0.96472788
 0.96898953 0.96638961 0.96404296 0.96203538]


=== Mean AUC Score ===
Mean AUC Score - Boosting:  0.9499543623054123

In [22]:
grd1_pred = pd.DataFrame({"ID":test ["ID"], "TARGET": grd1_predict})
grd1_pred.to_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 4/grd1_pred.csv',
                    header=True, index=False)

### 4-2-2. Gradient Boosting - Hyperparmeter Tuning

In [23]:
# Top25 Features GradientBoosting with Hyperparameter Tuning
grd_random = RandomizedSearchCV(grd1, search_grid, n_iter=15)
grd_random.fit(top_25, y_train)
grid_parm_grd = grd_random.best_params_
print(grid_parm_grd)

grd2 = GradientBoostingClassifier(**grid_parm_grd)
grd2.fit(top_25, y_train)
grd2_predict = grd2.predict(top_25_test)

grd2_cv_score = cross_val_score(grd2, top_25, y_train, cv=10, scoring="roc_auc")
print("=== All AUC Scores ===")
print(grd2_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Boosting: ", grd2_cv_score.mean())

{'n_estimators': 20, 'learning_rate': 0.1}
=== All AUC Scores ===
[0.80697775 0.93246986 0.93799038 0.93773045 0.93168092 0.93542108
 0.94165363 0.93815978 0.93199526 0.9333627 ]


=== Mean AUC Score ===
Mean AUC Score - Boosting:  0.922744180846192

In [24]:
grd2_pred = pd.DataFrame({"ID":test ["ID"], "TARGET": grd2_predict})
grd2_pred.to_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 4/grd2_pred.csv',
                    header=True, index=False)

# 5. TOP50 Features

## SelectKBest

In [25]:
# K-BEST FEATURE Selection
select = SelectKBest(f_classif, k=50)

select.fit(X_train, y_train)
feature_index = select.get_support(True)
print("feature index =", feature_index)

feature index = [  2  24  25  30  31  32  33  34  39  40  49  50  64  74  75  76  77  80
  89  90  91  96  97  98  99 100 105 114 115 138 139 148 152 155 159 169
 172 183 194 255 256 257 258 259 260 264 281 283 284 290]

In [26]:
top_50 = select.fit_transform(X_train, y_train)
print(top_50.shape)

top_50_SelectedFeatures= pd.DataFrame(top_50)
print(top_50_SelectedFeatures)

(109518, 50)
          0    1    2    3    4    5    6    7    8    9   ...   40   41   42  \
0       23.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
1       34.0  1.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  0.0  ...  0.0  0.0  0.0
2       23.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
3       37.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  1.0  1.0
4       39.0  1.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
109513  41.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
109514  42.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
109515  35.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
109516  57.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
109517  25.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0

         43   44   45   46   47   48   49
0       0.0  0.0  0.0  0.0  0.0  0.0  2.0
1       0.0  0.0  3.0  1.0  0.0  3.0  2.0
2       0.0  0.0  0.0  3.0  0.0  0.0  1.0
3       0.0  0.0  0.0  2.0  0.0  0.0  1.0
4       1.0  1.0  0.0  3.0  1.0  0.0  2.0
...     ...  ...  ...  ...  ...  ...  ...
109513  0.0  0.0  0.0  0.0  0.0  0.0  2.0
109514  0.0  0.0  0.0  0.0  0.0  0.0  2.0
109515  0.0  0.0  0.0  0.0  0.0  0.0  0.0
109516  0.0  0.0  0.0  0.0  0.0  0.0  1.0
109517  0.0  0.0  0.0  0.0  0.0  0.0  1.0

[109518 rows x 50 columns]

In [27]:
# Apply feature selection to test data also

top_50_test = select.transform(X_test)
print(top_50_test.shape)

top_50_test_SelectedFeatures= pd.DataFrame(top_50_test)
print(top_50_test_SelectedFeatures)

(75818, 50)
         0    1    2    3    4    5    6    7    8    9   ...   40   41   42  \
0      32.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
1      35.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
2      23.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
3      24.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
4      23.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
75813  23.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
75814  26.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
75815  24.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
75816  40.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
75817  23.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0

        43   44   45   46   47   48   49
0      0.0  0.0  0.0  3.0  0.0  0.0  2.0
1      0.0  0.0  0.0  3.0  0.0  0.0  0.0
2      0.0  0.0  0.0  3.0  0.0  0.0  2.0
3      0.0  0.0  0.0  0.0  0.0  0.0  2.0
4      0.0  0.0  0.0  3.0  0.0  0.0  2.0
...    ...  ...  ...  ...  ...  ...  ...
75813  0.0  0.0  0.0  0.0  0.0  0.0  2.0
75814  0.0  0.0  0.0  3.0  0.0  0.0  2.0
75815  0.0  0.0  0.0  3.0  0.0  0.0  2.0
75816  0.0  0.0  0.0  3.0  0.0  0.0  2.0
75817  0.0  0.0  0.0  3.0  0.0  0.0  2.0

[75818 rows x 50 columns]

## 5-1. RandomForest

### 5-1-1. Random Forest - No Tuning

In [28]:
# Top50 Features RandomForest and Obtain Respective Accuracy
rfc3 = RandomForestClassifier()
rfc3.fit(top_50, y_train)
rfc3_predict = rfc3.predict(top_50_test)

rfc3_cv_score = cross_val_score(rfc3, top_50, y_train, cv=10, scoring="roc_auc")
print("=== All AUC Scores ===")
print(rfc3_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Random Forest: ", rfc3_cv_score.mean())

=== All AUC Scores ===
[0.81989083 0.97368332 0.97627222 0.9780187  0.97441618 0.97717331
 0.97768161 0.97578636 0.97504009 0.97433397]


=== Mean AUC Score ===
Mean AUC Score - Random Forest:  0.9602296602332686

In [29]:
rfc3_pred = pd.DataFrame({"ID":test ["ID"], "TARGET": rfc3_predict})

rfc3_pred.to_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 4/rfc3_pred.csv',
                    header=True, index=False)

### 5-1-2. RandomForest - Hyperparameter Tuning

In [30]:
# Top50 Features RandomForest with Hyperparameter Tuning
parameters={'min_samples_split' : range(10,100,10),'max_depth': range(1,20,2)}
rfc_random = RandomizedSearchCV(rfc1, parameters, n_iter=15)
rfc_random.fit(top_50, y_train)
grid_parm_rfc=rfc_random.best_params_
print(grid_parm_rfc)

rfc4 = RandomForestClassifier(**grid_parm_rfc)
rfc4.fit(top_50,y_train)
rfc4_predict = rfc4.predict(top_50_test)

rfc4_cv_score = cross_val_score(rfc4, top_50, y_train, cv=10, scoring="roc_auc")
print("=== All AUC Scores ===")
print(rfc4_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Random Forest: ", rfc4_cv_score.mean())

{'min_samples_split': 20, 'max_depth': 17}
=== All AUC Scores ===
[0.83417075 0.97237931 0.97532977 0.97497326 0.97297301 0.97441337
 0.97556259 0.97488191 0.97405621 0.97125438]


=== Mean AUC Score ===
Mean AUC Score - Random Forest:  0.959999455381837

In [31]:
rfc4_pred = pd.DataFrame({"ID":test ["ID"], "TARGET": rfc4_predict})
rfc4_pred.to_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 4/rfc4_pred.csv',
                    header=True, index=False)

## 5-2. Gradient Boosting

### 5-2-1. Gradient Boosting - No Tuning

In [32]:
# Top50 Features GradientBoosting and Obtain Respective Accuracy 
search_grid = {'n_estimators':[5,10,20],'learning_rate':[0.01,.1]}
grd3 = GradientBoostingClassifier()
grd3.fit(top_50, y_train)
grd3_predict = grd3.predict(top_50_test)

grd3_cv_score = cross_val_score(grd3, top_50, y_train, cv=10, scoring="roc_auc")
print("=== All AUC Scores ===")
print(grd3_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Boosting: ", grd3_cv_score.mean())

=== All AUC Scores ===
[0.82791027 0.96567396 0.96775017 0.96864113 0.96613769 0.96812911
 0.97146346 0.96871299 0.96755147 0.96484465]


=== Mean AUC Score ===
Mean AUC Score - Boosting:  0.9536814904864471

In [33]:
grd3_pred = pd.DataFrame({"ID":test ["ID"], "TARGET": grd3_predict})
grd3_pred.to_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 4/grd3_pred.csv',
                    header=True, index=False)

### 5-2-2. Gradient Boosting - Hyperparameter Tuning

In [34]:
# Top50 Features GradientBoosting with Hyperparameter Tuning
grd_random = RandomizedSearchCV(grd1, search_grid, n_iter=15)
grd_random.fit(top_50, y_train)
grid_parm_grd = grd_random.best_params_
print(grid_parm_grd)

grd4 = GradientBoostingClassifier(**grid_parm_grd)
grd4.fit(top_50, y_train)
grd4_predict = grd4.predict(top_50_test)

grd4_cv_score = cross_val_score(grd4, top_50, y_train, cv=10, scoring="roc_auc")
print("=== All AUC Scores ===")
print(grd4_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Boosting: ", grd4_cv_score.mean())

{'n_estimators': 20, 'learning_rate': 0.1}
=== All AUC Scores ===
[0.8107789  0.9372459  0.94114232 0.943656   0.93548283 0.93815621
 0.9453724  0.94163125 0.93808167 0.93739951]


=== Mean AUC Score ===
Mean AUC Score - Boosting:  0.9268946995237343

In [35]:
grd4_pred = pd.DataFrame({"ID":test ["ID"], "TARGET": grd4_predict})
grd4_pred.to_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 4/grd4_pred.csv',
                    header=True, index=False)