In [1]:
import pandas as pd
from sklearn.preprocessing import label_binarize
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold

import warnings
warnings.filterwarnings("ignore")

# Importing the Data Set

In [2]:
F_train = pd.read_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 2/data/Insurance Fraud - TRAIN-3000.csv')
display(F_train)

train = pd.DataFrame(F_train)

,MONTH,WEEKOFMONTH,DAYOFWEEK,MAKE,ACCIDENTAREA,DAYOFWEEKCLAIMED,MONTHCLAIMED,WEEKOFMONTHCLAIMED,SEX,MARITALSTATUS,...,AGEOFPOLICYHOLDER,POLICEREPORTFILED,WITNESSPRESENT,AGENTTYPE,NUMBEROFSUPPLIMENTS,ADDRESSCHANGE_CLAIM,NUMBEROFCARS,YEAR,BASEPOLICY,FRAUDFOUND
0,Jul,3,Sunday,Honda,Rural,Wednesday,Jan,4,Male,Married,...,26_to_30,No,No,External,3_to_5,no_change,1-vehicle,1994,Collision,Yes
1,Nov,5,Monday,Mazda,Urban,Wednesday,Dec,1,Male,Single,...,over_65,No,No,External,none,no_change,1-vehicle,1994,All_Perils,Yes
2,Jan,1,Monday,Pontiac,Urban,Wednesday,Jan,1,Male,Married,...,41_to_50,No,No,External,none,under_6_months,1-vehicle,1994,All_Perils,Yes
3,Dec,1,Monday,Toyota,Rural,Tuesday,May,3,Male,Married,...,36_to_40,No,No,External,more_than_5,under_6_months,2-vehicles,1994,All_Perils,Yes
4,Dec,5,Wednesday,Pontiac,Urban,Wednesday,Jan,1,Male,Single,...,36_to_40,No,No,External,more_than_5,no_change,1-vehicle,1994,Collision,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2994,Apr,2,Monday,Pontiac,Rural,Monday,Apr,2,Male,Married,...,36_to_40,No,No,External,none,no_change,1-vehicle,1996,Liability,No
2995,Nov,4,Thursday,Honda,Urban,Friday,Nov,4,Male,Married,...,31_to_35,No,No,External,none,no_change,1-vehicle,1996,Liability,No
2996,Dec,4,Sunday,Chevrolet,Urban,Wednesday,Jan,1,Male,Married,...,over_65,No,No,External,none,no_change,1-vehicle,1996,Liability,No
2997,Apr,1,Monday,Toyota,Urban,Tuesday,Apr,1,Male,Married,...,31_to_35,No,No,External,none,no_change,1-vehicle,1996,All_Perils,No
2998,Jun,4,Friday,Pontiac,Urban,Wednesday,Jul,1,Male,Single,...,31_to_35,No,No,External,3_to_5,no_change,1-vehicle,1996,All_Perils,No

In [3]:
F_test = pd.read_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 2/data/Insurance Fraud -TEST-12900.csv')
display(F_test)

test = pd.DataFrame(F_test)

,MONTH,WEEKOFMONTH,DAYOFWEEK,MAKE,ACCIDENTAREA,DAYOFWEEKCLAIMED,MONTHCLAIMED,WEEKOFMONTHCLAIMED,SEX,MARITALSTATUS,...,AGEOFPOLICYHOLDER,POLICEREPORTFILED,WITNESSPRESENT,AGENTTYPE,NUMBEROFSUPPLIMENTS,ADDRESSCHANGE_CLAIM,NUMBEROFCARS,YEAR,BASEPOLICY,FRAUDFOUND
0,Jul,3,Sunday,Honda,Rural,Wednesday,Jan,4,Male,Married,...,26_to_30,No,No,External,3_to_5,no_change,1-vehicle,1994,Collision,Yes
1,Nov,5,Monday,Mazda,Urban,Wednesday,Dec,1,Male,Single,...,over_65,No,No,External,none,no_change,1-vehicle,1994,All_Perils,Yes
2,Jan,1,Monday,Pontiac,Urban,Wednesday,Jan,1,Male,Married,...,41_to_50,No,No,External,none,under_6_months,1-vehicle,1994,All_Perils,Yes
3,Dec,1,Monday,Toyota,Rural,Tuesday,May,3,Male,Married,...,36_to_40,No,No,External,more_than_5,under_6_months,2-vehicles,1994,All_Perils,Yes
4,Dec,5,Wednesday,Pontiac,Urban,Wednesday,Jan,1,Male,Single,...,36_to_40,No,No,External,more_than_5,no_change,1-vehicle,1994,Collision,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12913,Dec,1,Tuesday,Pontiac,Urban,Thursday,Feb,1,Male,Married,...,51_to_65,No,No,External,none,4_to_8_years,2-vehicles,1995,All_Perils,No
12914,Oct,2,Tuesday,Accura,Urban,Thursday,Oct,3,Male,Married,...,31_to_35,No,No,External,3_to_5,no_change,1-vehicle,1994,Collision,No
12915,Apr,4,Monday,Toyota,Urban,Wednesday,Apr,4,Male,Married,...,over_65,No,No,External,more_than_5,no_change,1-vehicle,1995,All_Perils,No
12916,Jun,2,Friday,Mazda,Urban,Friday,Jun,2,Male,Married,...,over_65,No,No,External,more_than_5,no_change,1-vehicle,1996,Collision,No
12917,Jun,2,Wednesday,Chevrolet,Urban,Wednesday,Jun,2,Male,Married,...,41_to_50,No,No,External,3_to_5,no_change,1-vehicle,1996,Collision,No

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MONTH                 2999 non-null   object
 1   WEEKOFMONTH           2999 non-null   int64
 2   DAYOFWEEK             2999 non-null   object
 3   MAKE                  2999 non-null   object
 4   ACCIDENTAREA          2999 non-null   object
 5   DAYOFWEEKCLAIMED      2999 non-null   object
 6   MONTHCLAIMED          2999 non-null   object
 7   WEEKOFMONTHCLAIMED    2999 non-null   int64
 8   SEX                   2999 non-null   object
 9   MARITALSTATUS         2999 non-null   object
 10  AGE                   2999 non-null   int64
 11  FAULT                 2999 non-null   object
 12  POLICYTYPE            2999 non-null   object
 13  VEHICLECATEGORY       2999 non-null   object
 14  VEHICLEPRICE          2999 non-null   object
 15  REPNUMBER             2999 non-null   int64
 16  DEDUCTIBLE            2999 non-null   int64
 17  DRIVERRATING          2999 non-null   int64
 18  DAYS_POLICY_ACCIDENT  2999 non-null   object
 19  DAYS_POLICY_CLAIM     2999 non-null   object
 20  PASTNUMBEROFCLAIMS    2999 non-null   object
 21  AGEOFVEHICLE          2999 non-null   object
 22  AGEOFPOLICYHOLDER     2999 non-null   object
 23  POLICEREPORTFILED     2999 non-null   object
 24  WITNESSPRESENT        2999 non-null   object
 25  AGENTTYPE             2999 non-null   object
 26  NUMBEROFSUPPLIMENTS   2999 non-null   object
 27  ADDRESSCHANGE_CLAIM   2999 non-null   object
 28  NUMBEROFCARS          2999 non-null   object
 29  YEAR                  2999 non-null   int64
 30  BASEPOLICY            2999 non-null   object
 31  FRAUDFOUND            2999 non-null   object
dtypes: int64(7), object(25)
memory usage: 749.9+ KB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12918 entries, 0 to 12917
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MONTH                 12918 non-null  object
 1   WEEKOFMONTH           12918 non-null  int64
 2   DAYOFWEEK             12918 non-null  object
 3   MAKE                  12918 non-null  object
 4   ACCIDENTAREA          12918 non-null  object
 5   DAYOFWEEKCLAIMED      12918 non-null  object
 6   MONTHCLAIMED          12918 non-null  object
 7   WEEKOFMONTHCLAIMED    12918 non-null  int64
 8   SEX                   12918 non-null  object
 9   MARITALSTATUS         12918 non-null  object
 10  AGE                   12918 non-null  int64
 11  FAULT                 12918 non-null  object
 12  POLICYTYPE            12918 non-null  object
 13  VEHICLECATEGORY       12918 non-null  object
 14  VEHICLEPRICE          12918 non-null  object
 15  REPNUMBER             12918 non-null  int64
 16  DEDUCTIBLE            12918 non-null  int64
 17  DRIVERRATING          12918 non-null  int64
 18  DAYS_POLICY_ACCIDENT  12918 non-null  object
 19  DAYS_POLICY_CLAIM     12918 non-null  object
 20  PASTNUMBEROFCLAIMS    12918 non-null  object
 21  AGEOFVEHICLE          12918 non-null  object
 22  AGEOFPOLICYHOLDER     12918 non-null  object
 23  POLICEREPORTFILED     12918 non-null  object
 24  WITNESSPRESENT        12918 non-null  object
 25  AGENTTYPE             12918 non-null  object
 26  NUMBEROFSUPPLIMENTS   12918 non-null  object
 27  ADDRESSCHANGE_CLAIM   12918 non-null  object
 28  NUMBEROFCARS          12918 non-null  object
 29  YEAR                  12918 non-null  int64
 30  BASEPOLICY            12918 non-null  object
 31  FRAUDFOUND            12918 non-null  object
dtypes: int64(7), object(25)
memory usage: 3.2+ MB

In [6]:
# Finding the null value
na_train = train.isnull()
na_sum_train = na_train.sum()
na_sum_train = na_sum_train.sort_values(ascending=False)

na_sum_train

MONTH                   0
WEEKOFMONTH             0
BASEPOLICY              0
YEAR                    0
NUMBEROFCARS            0
ADDRESSCHANGE_CLAIM     0
NUMBEROFSUPPLIMENTS     0
AGENTTYPE               0
WITNESSPRESENT          0
POLICEREPORTFILED       0
AGEOFPOLICYHOLDER       0
AGEOFVEHICLE            0
PASTNUMBEROFCLAIMS      0
DAYS_POLICY_CLAIM       0
DAYS_POLICY_ACCIDENT    0
DRIVERRATING            0
DEDUCTIBLE              0
REPNUMBER               0
VEHICLEPRICE            0
VEHICLECATEGORY         0
POLICYTYPE              0
FAULT                   0
AGE                     0
MARITALSTATUS           0
SEX                     0
WEEKOFMONTHCLAIMED      0
MONTHCLAIMED            0
DAYOFWEEKCLAIMED        0
ACCIDENTAREA            0
MAKE                    0
DAYOFWEEK               0
FRAUDFOUND              0
dtype: int64

In [7]:
for i in train.columns:
  if train[i].dtype == 'object':
    print(i, ':', train[i].nunique())

MONTH : 12
DAYOFWEEK : 7
MAKE : 16
ACCIDENTAREA : 2
DAYOFWEEKCLAIMED : 7
MONTHCLAIMED : 12
SEX : 2
MARITALSTATUS : 4
FAULT : 2
POLICYTYPE : 8
VEHICLECATEGORY : 3
VEHICLEPRICE : 6
DAYS_POLICY_ACCIDENT : 5
DAYS_POLICY_CLAIM : 3
PASTNUMBEROFCLAIMS : 4
AGEOFVEHICLE : 8
AGEOFPOLICYHOLDER : 9
POLICEREPORTFILED : 2
WITNESSPRESENT : 2
AGENTTYPE : 2
NUMBEROFSUPPLIMENTS : 4
ADDRESSCHANGE_CLAIM : 5
NUMBEROFCARS : 4
BASEPOLICY : 3
FRAUDFOUND : 2

In [8]:
for i in test.columns:
  if test[i].dtype == 'object':
    print(i, ':', test[i].nunique())

MONTH : 12
DAYOFWEEK : 7
MAKE : 19
ACCIDENTAREA : 2
DAYOFWEEKCLAIMED : 7
MONTHCLAIMED : 12
SEX : 2
MARITALSTATUS : 4
FAULT : 2
POLICYTYPE : 9
VEHICLECATEGORY : 3
VEHICLEPRICE : 6
DAYS_POLICY_ACCIDENT : 5
DAYS_POLICY_CLAIM : 3
PASTNUMBEROFCLAIMS : 4
AGEOFVEHICLE : 8
AGEOFPOLICYHOLDER : 9
POLICEREPORTFILED : 2
WITNESSPRESENT : 2
AGENTTYPE : 2
NUMBEROFSUPPLIMENTS : 4
ADDRESSCHANGE_CLAIM : 5
NUMBEROFCARS : 5
BASEPOLICY : 3
FRAUDFOUND : 2

In [9]:
# Change 'FRAUDFOUND' as 1 and 0 -> target column

train['FRAUDFOUND'] = train['FRAUDFOUND'].str.replace('Yes', '1')
train['FRAUDFOUND'] = train['FRAUDFOUND'].str.replace('No', '0')
train['FRAUDFOUND'] = train['FRAUDFOUND'].astype(int)

test['FRAUDFOUND'] = test['FRAUDFOUND'].str.replace('Yes', '1')
test['FRAUDFOUND'] = test['FRAUDFOUND'].str.replace('No', '0')
test['FRAUDFOUND'] = test['FRAUDFOUND'].astype(int)

In [10]:
train['FRAUDFOUND'].unique()

array([1, 0])

In [11]:
test['FRAUDFOUND'].unique()

array([1, 0])

In [12]:
train['FRAUDFOUND'].value_counts()

0    2600
1     399
Name: FRAUDFOUND, dtype: int64

In [13]:
test['FRAUDFOUND'].value_counts()

0    12420
1      498
Name: FRAUDFOUND, dtype: int64

# Data Encoding

In [14]:
encode_col_train = []
for col in train.columns:
  if train[col].dtype == 'object':
    encode_col_train.append(col)

len(encode_col_train)

24

In [15]:
encode_col_test = []
for col in test.columns:
  if test[col].dtype == 'object':
    encode_col_test.append(col)

len(encode_col_test)

24

In [16]:
df = pd.get_dummies(train, columns = encode_col_train)

df.head()
df.shape
df.columns

Index(['WEEKOFMONTH', 'WEEKOFMONTHCLAIMED', 'AGE', 'REPNUMBER', 'DEDUCTIBLE',
       'DRIVERRATING', 'YEAR', 'FRAUDFOUND', 'MONTH_Apr', 'MONTH_Aug',
       ...
       'ADDRESSCHANGE_CLAIM_4_to_8_years', 'ADDRESSCHANGE_CLAIM_no_change',
       'ADDRESSCHANGE_CLAIM_under_6_months', 'NUMBEROFCARS_1-vehicle',
       'NUMBEROFCARS_2-vehicles', 'NUMBEROFCARS_3_to_4', 'NUMBEROFCARS_5_to_8',
       'BASEPOLICY_All_Perils', 'BASEPOLICY_Collision',
       'BASEPOLICY_Liability'],
      dtype='object', length=140)

In [17]:
dft = pd.get_dummies(test, columns = encode_col_test)

dft.head()
dft.shape
dft.columns

Index(['WEEKOFMONTH', 'WEEKOFMONTHCLAIMED', 'AGE', 'REPNUMBER', 'DEDUCTIBLE',
       'DRIVERRATING', 'YEAR', 'FRAUDFOUND', 'MONTH_Apr', 'MONTH_Aug',
       ...
       'ADDRESSCHANGE_CLAIM_no_change', 'ADDRESSCHANGE_CLAIM_under_6_months',
       'NUMBEROFCARS_1-vehicle', 'NUMBEROFCARS_2-vehicles',
       'NUMBEROFCARS_3_to_4', 'NUMBEROFCARS_5_to_8',
       'NUMBEROFCARS_more_than_8', 'BASEPOLICY_All_Perils',
       'BASEPOLICY_Collision', 'BASEPOLICY_Liability'],
      dtype='object', length=145)

In [18]:
col_test = dft.columns
col_train = df.columns

s = set(col_train)
missing = [x for x in col_test if x not in s]
missing

['MAKE_Ferrari',
 'MAKE_Jaguar',
 'MAKE_Lexus',
 'POLICYTYPE_Sport-Liability',
 'NUMBEROFCARS_more_than_8']

In [19]:
df[['MAKE_Ferrari','MAKE_Jaguar',
 'MAKE_Lexus',
 'POLICYTYPE_Sport-Liability',
 'NUMBEROFCARS_more_than_8']] = 0

df.shape

(2999, 145)

# Classification Model

## Decision Tree

In [20]:
X_train = df.drop(['FRAUDFOUND'], axis=1)
y_train = df['FRAUDFOUND']

X_test = dft.drop(['FRAUDFOUND'], axis=1)
y_test = dft['FRAUDFOUND']

In [21]:
dt = DecisionTreeClassifier()

dt.fit(X_train, y_train)
preds = dt.predict(X_test)

score = dt.score(X_test, y_test)
print(score)
print('Classification Report :')
print(classification_report(y_test, preds))

0.6395726892707849
Classification Report :
              precision    recall  f1-score   support

           0       0.96      0.65      0.78     12420
           1       0.04      0.41      0.08       498

    accuracy                           0.64     12918
   macro avg       0.50      0.53      0.43     12918
weighted avg       0.93      0.64      0.75     12918

## Random Forest

In [22]:
rf = RandomForestClassifier()

rf.fit(X_train, y_train)
preds = rf.predict(X_test)

score = rf.score(X_test, y_test)
print(score)
print('Classification Report :')
print(classification_report(y_test, preds))

0.9544047066109305
Classification Report :
              precision    recall  f1-score   support

           0       0.96      0.99      0.98     12420
           1       0.10      0.02      0.04       498

    accuracy                           0.95     12918
   macro avg       0.53      0.51      0.51     12918
weighted avg       0.93      0.95      0.94     12918

## Hyperparameter Tuning (With 5 Folds Cross Validation)

### Grid Search

In [23]:
# DecisionTreeClassifier
import time
start_time = time.time()

parameters = {'random_state' : range(0,100,2), 'min_samples_leaf' : range(10,100,10),
              'max_depth': range(1,10,2),'criterion':['gini','entropy']}

print("GridSearchCV-DecisionTree")
dt_grid = GridSearchCV(dt,parameters,cv=5)
dt_grid.fit(X_train, y_train)
grid_parm1=dt_grid.best_params_
print(grid_parm1)
print("accuracy Score for Decision Tree:{0:6f}".
      format(dt_grid.score(X_test,y_test)))

print("--- %s seconds ---" % (time.time() - start_time))

GridSearchCV-DecisionTree
{'criterion': 'gini', 'max_depth': 3, 'min_samples_leaf': 10, 'random_state': 0}
accuracy Score for Decision Tree:0.776513
--- 220.96882319450378 seconds ---

In [24]:
# RandomForest
import time
start_time = time.time()

parameters = {'random_state' : range(0,100,2), 'min_samples_leaf' : range(10,100,10),
              'max_depth': range(1,10,2),'criterion':['gini','entropy']}

print("GridSearchCV-RandomForest")
rf_grid = GridSearchCV(rf,parameters,cv=5)
rf_grid.fit(X_train, y_train)
grid_parm1=rf_grid.best_params_
print(grid_parm1)
print("accuracy Score for Decision Tree:{0:6f}".
      format(rf_grid.score(X_test,y_test)))

print("--- %s seconds ---" % (time.time() - start_time))

GridSearchCV-RandomForest
{'criterion': 'gini', 'max_depth': 9, 'min_samples_leaf': 10, 'random_state': 78}
accuracy Score for Decision Tree:0.961449
--- 2647.6731810569763 seconds ---

### Random Search

In [25]:
# DecisionTreeClassifier
import time
start_time = time.time()

print("RandomizedSearchCV-DecisionTreeClassifier")
rand_parameters={'random_state' : range(0,100,2), 'min_samples_leaf' : range(10,100,10),
              'max_depth': range(1,10,2),'criterion':['gini','entropy']}

rf_random = RandomizedSearchCV(rf,rand_parameters,n_iter=25,cv=5)

rf_random.fit(X_train, y_train)
grid_parm=rf_random.best_params_
print(grid_parm)
print("accuracy Score for Decision Tree:{0:6f}".
      format(rf_random.score(X_test,y_test)))

print("--- %s seconds ---" % (time.time() - start_time))

RandomizedSearchCV-DecisionTreeClassifier
{'random_state': 24, 'min_samples_leaf': 10, 'max_depth': 9, 'criterion': 'gini'}
accuracy Score for Decision Tree:0.961449
--- 14.689586877822876 seconds ---

In [26]:
# Random Forest
import time
start_time = time.time()

print("RandomizedSearchCV-Random Forest")
rand_parameters={'random_state' : range(0,100,2), 'min_samples_leaf' : range(10,100,10),
              'max_depth': range(1,10,2),'criterion':['gini','entropy']}

rf_random = RandomizedSearchCV(rf,rand_parameters,n_iter=25,cv=5)

rf_random.fit(X_train, y_train)
grid_parm=rf_random.best_params_
print(grid_parm)
print("accuracy Score for Decision Tree:{0:6f}".
      format(rf_random.score(X_test,y_test)))

print("--- %s seconds ---" % (time.time() - start_time))

RandomizedSearchCV-Random Forest
{'random_state': 30, 'min_samples_leaf': 10, 'max_depth': 9, 'criterion': 'entropy'}
accuracy Score for Decision Tree:0.961449
--- 15.441210985183716 seconds ---

## Tuned Classifier

In [27]:
# DecisionTreeClassifier - grid tuned
# 'criterion': 'gini', 'max_depth': 3, 'min_samples_leaf': 10, 'random_state': 0
dt_gtuned = DecisionTreeClassifier(random_state = 0, 
                                   min_samples_leaf = 10,
                                   max_depth = 3,
                                   criterion = 'gini')

dt_gtuned.fit(X_train, y_train)
preds = dt_gtuned.predict(X_test)

score = dt_gtuned.score(X_test, y_test)
print(score)
print('Classification Report :')
print(classification_report(y_test, preds))

0.7765133921659699
Classification Report :
              precision    recall  f1-score   support

           0       0.96      0.80      0.87     12420
           1       0.05      0.28      0.09       498

    accuracy                           0.78     12918
   macro avg       0.51      0.54      0.48     12918
weighted avg       0.93      0.78      0.84     12918

In [28]:
# DecisionTreeClassifier - random search tuned
# 'random_state': 92, 'min_samples_leaf': 40, 'max_depth': 5, 'criterion': 'entropy'
dt_rtuned = DecisionTreeClassifier(random_state = 92, 
                                   min_samples_leaf = 40,
                                   max_depth = 5,
                                   criterion = 'entropy')

dt_rtuned.fit(X_train, y_train)
preds = dt_rtuned.predict(X_test)

score = dt_rtuned.score(X_test, y_test)
print(score)
print('Classification Report :')
print(classification_report(y_test, preds))

0.8612014243690974
Classification Report :
              precision    recall  f1-score   support

           0       0.96      0.89      0.92     12420
           1       0.06      0.18      0.09       498

    accuracy                           0.86     12918
   macro avg       0.51      0.53      0.51     12918
weighted avg       0.93      0.86      0.89     12918

In [29]:
# Random Forest - grid tuned
# 'criterion': 'gini', 'max_depth': 9, 'min_samples_leaf': 10, 'random_state': 78
rf_gtuned = RandomForestClassifier(random_state = 78, 
                                   min_samples_leaf = 10,
                                   max_depth = 9,
                                   criterion = 'gini')

rf_gtuned.fit(X_train, y_train)
preds = rf_gtuned.predict(X_test)

score = rf_gtuned.score(X_test, y_test)
print(score)
print('Classification Report :')
print(classification_report(y_test, preds))

0.9614491407338597
Classification Report :
              precision    recall  f1-score   support

           0       0.96      1.00      0.98     12420
           1       0.00      0.00      0.00       498

    accuracy                           0.96     12918
   macro avg       0.48      0.50      0.49     12918
weighted avg       0.92      0.96      0.94     12918

In [30]:
# Random Forest - random search tuned
# 'random_state': 22, 'min_samples_leaf': 10, 'max_depth': 9, 'criterion': 'gini'
rf_rtuned = DecisionTreeClassifier(random_state = 22, 
                                   min_samples_leaf = 10,
                                   max_depth = 9,
                                   criterion = 'gini')

rf_rtuned.fit(X_train, y_train)
preds = rf_rtuned.predict(X_test)

score = rf_rtuned.score(X_test, y_test)
print(score)
print('Classification Report :')
print(classification_report(y_test, preds))

0.7857253444805697
Classification Report :
              precision    recall  f1-score   support

           0       0.96      0.81      0.88     12420
           1       0.03      0.15      0.05       498

    accuracy                           0.79     12918
   macro avg       0.50      0.48      0.47     12918
weighted avg       0.92      0.79      0.85     12918