In [1]:
import pandas as pd
from sklearn.preprocessing import label_binarize
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn import metrics

import warnings
warnings.filterwarnings("ignore")

# Importing the Data Set

In [2]:
T_train = pd.read_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 2/data/Portugese Bank Data - TRAIN.csv')
display(T_train)

train = pd.DataFrame(T_train)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [3]:
T_test = pd.read_csv('/Users/jiwonmoon/Desktop/CIS 508/Data Mining I/Assignments/Individual Assignment 2/data/Portugese Bank Data - TEST.csv')
display(T_test)

test = pd.DataFrame(T_test)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [6]:
# Finding the null value
na_train = train.isnull()
na_sum_train = na_train.sum()
na_sum_train = na_sum_train.sort_values(ascending=False)

na_sum_train

age          0
day          0
poutcome     0
previous     0
pdays        0
campaign     0
duration     0
month        0
contact      0
job          0
loan         0
housing      0
balance      0
default      0
education    0
marital      0
y            0
dtype: int64

In [7]:
for i in train.columns:
  if train[i].dtype == 'object':
    print(i, ':', train[i].nunique())

job : 12
marital : 3
education : 4
default : 2
housing : 2
loan : 2
contact : 3
month : 12
poutcome : 4
y : 2

In [8]:
# Change 'y' as 1 and 0 -> target column
train['y'] = train['y'].str.replace('yes', '1')
train['y'] = train['y'].str.replace('no', '0')
train['y'] = train['y'].astype(int)

test['y'] = test['y'].str.replace('yes', '1')
test['y'] = test['y'].str.replace('no', '0')
test['y'] = test['y'].astype(int)

In [9]:
train['y'].unique()

array([0, 1])

In [10]:
train['y'].value_counts()

0    4000
1     521
Name: y, dtype: int64

In [11]:
test['y'].value_counts()

0    39922
1     5289
Name: y, dtype: int64

# Data Encoding

In [12]:
encode_col_train = []
for col in train.columns:
  if train[col].dtype == 'object':
    encode_col_train.append(col)

encode_col_train

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'poutcome']

In [13]:
encode_col_test = []
for col in test.columns:
  if test[col].dtype == 'object':
    encode_col_test.append(col)

encode_col_test

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'poutcome']

In [14]:
df = pd.get_dummies(train, columns = encode_col_train)

df.head()

,age,balance,day,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,30,1787,19,79,1,-1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,33,4789,11,220,1,339,4,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,35,1350,16,185,1,330,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,30,1476,3,199,4,-1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
4,59,0,5,226,1,-1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1

In [15]:
dft = pd.get_dummies(test, columns = encode_col_test)

dft.head()

,age,balance,day,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,2143,5,261,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,44,29,5,151,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,33,2,5,76,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,47,1506,5,92,1,-1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
4,33,1,5,198,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

# Classification Model

## Decision Tree

In [16]:
X_train = df.drop(['y'], axis=1)
y_train = df['y']

X_test = dft.drop(['y'], axis=1)
y_test = dft['y']

In [17]:
dt = DecisionTreeClassifier()

dt.fit(X_train, y_train)
preds = dt.predict(X_test)

score = dt.score(X_test, y_test)
print(score)
print('Classification Report :')
print(classification_report(y_test, preds))

0.8829267213731171
Classification Report :
              precision    recall  f1-score   support

           0       0.94      0.93      0.93     39922
           1       0.50      0.52      0.51      5289

    accuracy                           0.88     45211
   macro avg       0.72      0.73      0.72     45211
weighted avg       0.89      0.88      0.88     45211

## Random Forest

In [18]:
rf = RandomForestClassifier()

rf.fit(X_train, y_train)
preds = rf.predict(X_test)

score = rf.score(X_test, y_test)
print(score)
print('Classification Report :')
print(classification_report(y_test, preds))

0.913074251841366
Classification Report :
              precision    recall  f1-score   support

           0       0.93      0.98      0.95     39922
           1       0.74      0.40      0.52      5289

    accuracy                           0.91     45211
   macro avg       0.83      0.69      0.74     45211
weighted avg       0.90      0.91      0.90     45211

## Hyperparameter Tuning (With 5 Folds Cross Validation)

### Grid Search

In [19]:
# DecisionTreeClassifier
import time
start_time = time.time()

parameters = {'random_state' : range(0,100,2), 'min_samples_leaf' : range(10,100,10),
              'max_depth': range(1,10,2),'criterion':['gini','entropy']}

print("GridSearchCV-DecisionTree")
dt_grid = GridSearchCV(dt,parameters,cv=5)
dt_grid.fit(X_train, y_train)
grid_parm1=dt_grid.best_params_
print(grid_parm1)
print("accuracy Score for Decision Tree:{0:6f}".
      format(dt_grid.score(X_test,y_test)))

print("--- %s seconds ---" % (time.time() - start_time))

GridSearchCV-DecisionTree
{'criterion': 'entropy', 'max_depth': 5, 'min_samples_leaf': 30, 'random_state': 0}
accuracy Score for Decision Tree:0.896220
--- 2025.7027990818024 seconds ---

In [20]:
# RandomForest
import time
start_time = time.time()

parameters = {'random_state' : range(0,100,2), 'min_samples_leaf' : range(10,100,10),
              'max_depth': range(1,10,2),'criterion':['gini','entropy']}

print("GridSearchCV-RandomForest")
rf_grid = GridSearchCV(rf,parameters,cv=5)
rf_grid.fit(X_train, y_train)
grid_parm1=rf_grid.best_params_
print(grid_parm1)
print("accuracy Score for Decision Tree:{0:6f}".
      format(rf_grid.score(X_test,y_test)))

print("--- %s seconds ---" % (time.time() - start_time))

GridSearchCV-RandomForest
{'criterion': 'gini', 'max_depth': 9, 'min_samples_leaf': 10, 'random_state': 50}
accuracy Score for Decision Tree:0.894981
--- 5596.248356103897 seconds ---

### Random Search

In [21]:
# DecisionTreeClassifier
import time
start_time = time.time()

print("RandomizedSearchCV-DecisionTreeClassifier")
rand_parameters={'random_state' : range(0,100,2), 'min_samples_leaf' : range(10,100,10),
              'max_depth': range(1,10,2),'criterion':['gini','entropy']}

rf_random = RandomizedSearchCV(rf,rand_parameters,n_iter=25,cv=5)

rf_random.fit(X_train, y_train)
grid_parm=rf_random.best_params_
print(grid_parm)
print("accuracy Score for Decision Tree:{0:6f}".
      format(rf_random.score(X_test,y_test)))

print("--- %s seconds ---" % (time.time() - start_time))

RandomizedSearchCV-DecisionTreeClassifier
{'random_state': 30, 'min_samples_leaf': 10, 'max_depth': 7, 'criterion': 'gini'}
accuracy Score for Decision Tree:0.894694
--- 18.215795278549194 seconds ---

In [22]:
# Random Forest
import time
start_time = time.time()

print("RandomizedSearchCV-Random Forest")
rand_parameters={'random_state' : range(0,100,2), 'min_samples_leaf' : range(10,100,10),
              'max_depth': range(1,10,2),'criterion':['gini','entropy']}

rf_random = RandomizedSearchCV(rf,rand_parameters,n_iter=25,cv=5)

rf_random.fit(X_train, y_train)
grid_parm=rf_random.best_params_
print(grid_parm)
print("accuracy Score for Decision Tree:{0:6f}".
      format(rf_random.score(X_test,y_test)))

print("--- %s seconds ---" % (time.time() - start_time))

RandomizedSearchCV-Random Forest
{'random_state': 14, 'min_samples_leaf': 20, 'max_depth': 9, 'criterion': 'gini'}
accuracy Score for Decision Tree:0.892393
--- 18.16413116455078 seconds ---

## Tuned Classifier

In [23]:
# DecisionTreeClassifier - grid tuned
# 'criterion': 'entropy', 'max_depth': 5, 'min_samples_leaf': 30, 'random_state': 0
dt_gtuned = DecisionTreeClassifier(random_state = 0, 
                                   min_samples_leaf = 30,
                                   max_depth = 5,
                                   criterion = 'entropy')

dt_gtuned.fit(X_train, y_train)
preds = dt_gtuned.predict(X_test)

score = dt_gtuned.score(X_test, y_test)
print(score)
print('Classification Report :')
print(classification_report(y_test, preds))

0.8962199464732035
Classification Report :
              precision    recall  f1-score   support

           0       0.91      0.98      0.94     39922
           1       0.62      0.29      0.40      5289

    accuracy                           0.90     45211
   macro avg       0.77      0.64      0.67     45211
weighted avg       0.88      0.90      0.88     45211

In [24]:
# DecisionTreeClassifier - random search tuned
# 'random_state': 42, 'min_samples_leaf': 20, 'max_depth': 7, 'criterion': 'gini'
dt_rtuned = DecisionTreeClassifier(random_state = 42, 
                                   min_samples_leaf = 20,
                                   max_depth = 7,
                                   criterion = 'gini')

dt_rtuned.fit(X_train, y_train)
preds = dt_rtuned.predict(X_test)

score = dt_rtuned.score(X_test, y_test)
print(score)
print('Classification Report :')
print(classification_report(y_test, preds))

0.8999137378071708
Classification Report :
              precision    recall  f1-score   support

           0       0.92      0.98      0.95     39922
           1       0.64      0.33      0.43      5289

    accuracy                           0.90     45211
   macro avg       0.78      0.65      0.69     45211
weighted avg       0.88      0.90      0.89     45211

In [25]:
# Random Forest - grid tuned
# 'criterion': 'gini', 'max_depth': 9, 'min_samples_leaf': 10, 'random_state': 50
rf_gtuned = RandomForestClassifier(random_state = 50, 
                                   min_samples_leaf = 10,
                                   max_depth = 9,
                                   criterion = 'gini')

rf_gtuned.fit(X_train, y_train)
preds = rf_gtuned.predict(X_test)

score = rf_gtuned.score(X_test, y_test)
print(score)
print('Classification Report :')
print(classification_report(y_test, preds))

0.8949813098582203
Classification Report :
              precision    recall  f1-score   support

           0       0.90      1.00      0.94     39922
           1       0.79      0.14      0.24      5289

    accuracy                           0.89     45211
   macro avg       0.84      0.57      0.59     45211
weighted avg       0.88      0.89      0.86     45211

In [26]:
# Random Forest - random search tuned
# 'random_state': 84, 'min_samples_leaf': 20, 'max_depth': 9, 'criterion': 'gini'
rf_rtuned = DecisionTreeClassifier(random_state = 84, 
                                   min_samples_leaf = 20,
                                   max_depth = 9,
                                   criterion = 'gini')

rf_rtuned.fit(X_train, y_train)
preds = rf_rtuned.predict(X_test)

score = rf_rtuned.score(X_test, y_test)
print(score)
print('Classification Report :')
print(classification_report(y_test, preds))

0.8991395899228064
Classification Report :
              precision    recall  f1-score   support

           0       0.92      0.97      0.94     39922
           1       0.63      0.34      0.44      5289

    accuracy                           0.90     45211
   macro avg       0.77      0.66      0.69     45211
weighted avg       0.88      0.90      0.89     45211